* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.whole {
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
}
header, 
main, 
footer,
.logo,
.menu {
    border: 2px solid gray;
    margin: 1px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1px;
    /* or .menu margin-left: auto */
}
.menu {
    display: flex;
    flex-direction: row;
    margin: 1px;
}
.item {
    display: flex;
    flex-direction: column;
    border: 2px solid yellow;
    margin: 1px;
}
main {
    display: flex;
    flex-direction: column;
    margin: 1px;
}
.body1 {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    margin: 1px;
}
.bodynav {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    margin: 1px;
}
.navitem1,
.navitem2,
.navitem3,
.navitem4 {
    display: flex;
    flex-direction: column;
    border 2px solid gray;
}
.navicon, .navtext {
    display:flex;
    flex-direction: row;
    border: 2px solid gray;
}
.content {
    display:flex;
    flex-direction: column;
    border: 2px solid red;
}
.contentbox {
    display: flex;
    flex-direction: row;
    border: 2px solid gray;
    margin: 1px;
}